<div class="container">
  <div class="container-item">
    <button mat-icon-button color="danger" (click)="buttonClick(SamsungCode.POWER)">
      <mat-icon>power</mat-icon>
    </button>
    <button mat-icon-button></button>
    <button mat-icon-button color="accent" (click)="buttonClick(SamsungCode.SOURCE)">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>

  <div class="container-item">
    <button mat-icon-button (click)="buttonClick(SamsungCode.ONE)">1</button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.TWO)">2</button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.THREE)">3</button>
  </div>
  <div class="container-item">
    <button mat-icon-button (click)="buttonClick(SamsungCode.FOUR)">4</button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.FIVE)">5</button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.SIX)">6</button>
  </div>
  <div class="container-item">
    <button mat-icon-button (click)="buttonClick(SamsungCode.SEVEN)">7</button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.EIGHT)">8</button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.NINE)">9</button>
  </div>
  <div class="container-item">
    <button mat-icon-button></button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.ZERO)">0</button>
    <button mat-icon-button></button>
  </div>

  <div class="container-item">
    <button mat-icon-button (click)="buttonClick(SamsungCode.VOL_UP)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="buttonClick(SamsungCode.MUTE)">
      <mat-icon>volume_off</mat-icon>
    </button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.CH_UP)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="container-item">
    <span>VOL</span>
    <button mat-icon-button></button>
    <span>CH</span>
  </div>
  <div class="container-item">
    <button mat-icon-button (click)="buttonClick(SamsungCode.VOL_DOWN)">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.MENU)">
      <mat-icon>menu_book</mat-icon>
    </button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.CH_DOWN)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <div class="container-item">
    <button mat-icon-button (click)="buttonClick(SamsungCode.TOOLS)">
      <mat-icon>construction</mat-icon>
    </button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.UP)">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button>
    </button>
  </div>
  <div class="container-item">
    <button mat-icon-button (click)="buttonClick(SamsungCode.LEFT)">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.OK)">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.RIGHT)">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <div class="container-item">
    <button mat-icon-button (click)="buttonClick(SamsungCode.RETURN)">
      <mat-icon>reply</mat-icon>
    </button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.DOWN)">
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <button mat-icon-button (click)="buttonClick(SamsungCode.EXIT)">
      <mat-icon>output</mat-icon>
    </button>
  </div>

</div>
